//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Montserrat', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #f7f7f7;
$orange: #f1592a;

$pink: #f62f5e;
$dark: #2e2e2e;
$blue: #6eb2fb;
$green: #7ed321;
$orange: #fe5c07;
$yellow: #f8e71c;
$purple: #9013fe;
$green-smooth: #00d3ca;

