//----------  variables
//------------------------------------------------------------------------------

$font-default: 'Montserrat', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #666;
$grey-light: #f7f7f7;
$orange: #f1592a;

$pink: #f62f5e;
$dark: #2e2e2e;
