.details {
    .wrapper {
        background-color: $white;
        display: flex;
        padding: 59px;
    }
    .right {
        width: 50%;
    }
    .left {
        width: 50%;
        .for-slider .owl-item {
            img {
                max-width: 100%;
            }
        }
        .slick-slide img {
            max-width: 100%;
        }
    }
    .breadcrumbs ul {
        display: flex;
    }
    .rate {
        display: block;
        float: none;
    }
}
.item .header {
    margin-bottom: 24px;
}
.item .related {
    .wrapper {
        display: flex;
        overflow-y: scroll;
        overflow-x: visible;
        .item {
            margin-right: 25px;
        }
    }
}