.details {
    .wrapper {
        background-color: $white;
        display: flex;
        padding: 59px;
    }
    .right {
        width: 50%;
    }
    .left {
        width: 50%;
        .for-slider .owl-item {
            img {
                max-width: 100%;
            }
        }
        .slick-slide img {
            max-width: 100%;
        }
    }
    .breadcrumbs ul {
        display: flex;
        li a {
            color: #ababab;
        }
    }
    .rate {
        display: block;
        float: none;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
    }
}
.item .header {
    margin-bottom: 24px;
}
.item .related {
    .wrapper {
        display: flex;
        overflow-y: scroll;
        overflow-x: visible;
        .item {
            margin-right: 25px;
        }
    }
}
.item .reviews {
    margin-bottom: 49px;
    .wrapper  {
        padding: 42px 79px;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
    }
    .list {
        border-bottom: 1px solid $grey;
    }
}