body {
	background-color: $grey-light;
}

.three-blocks {
	.wrapper {
		display: flex;
		margin-top: 25px;
		margin-bottom: 25px;
		justify-content: space-between;

		.left {
			width: 66%;
		}
	}

	.white-block {
		background-color: $white;
		padding: 48px 15% 48px 13%;

		h2 {
			max-width: 400px;
			margin-bottom: 51px;
			font-weight: 700;
		}

		.input-wrapper {
			height: 48px;
			input {
				height: 46px;
			}
		}
	}

	.black-block {
		background-color: $dark;
		padding: 26% 15% 20% 10%;
		display: flex;
		align-items: center;

		h1 {
			color: $white;
		}
	}

	.img-block {
		background-size: cover;
		width: 32%;
		padding: 48px 2%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: flex-start;
		h1 {
			margin-bottom: 10px;
		}
		p {
			color: $white;
		}
	}
	@media only screen and (max-width: 991px) {
		.wrapper {
			flex-direction: column;
			.left {
				width: 100%;
			}
			.img-block {
				width: 100%;
			}
			.right {
				width: 100%;
			}
		}
	}
}

.close,
.remove {
	position: absolute;
	right: 23px;
	top: 29px;
	width: 32px;
	height: 32px;
  }
  .close:hover,
  .remove:hover {
	opacity: 1;
  }
  .close::before,
  .close::after,
  .remove::before,
  .remove::after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 27px;
	width: 2px;
	background-color: #333;
  }
  .close::before,
  .remove::before {
	transform: rotate(45deg);
  }
  .close::after,
  .remove::after {
	transform: rotate(-45deg);
  }
  .remove {
	  position: relative;
	  left: 0;
	  right: 0;
	  top: 0;
	  display: flex;
	  align-items: center;
	  font-size: 12px !important;
	  width: auto;
	  height: auto;
	  padding-left: 10px;
	  color: #4b4b4b;
	  &:hover {
		color: $pink;
	  }
  }
  .remove::before,
  .remove::after {
	content: ' ';
	height: 10px;
	width: 2px;
	background-color: $pink;
	left: 0;
	right: 0;
	top: 3px;
  }