%popup {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    background-color: $white;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
    input {
        border-radius: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-weight: 400px;
        @include placeholder {
            color: #b4b4b4;
            font-weight: 400px;
        }
    }
}
.header .chart-wrapper {
    z-index: 9;
    .chart {
        @extend %popup;
        top: 68px;
    }
    .inner {
        padding: 42px 80px;
    }
    .table {
        .row {
            display: flex;
            .mod {
                display: none;
            }
        }
        .row.header {
            border-bottom: 1px solid #b4b4b4;
            color: #b4b4b4;
            margin-bottom: 23px;
            padding: 13px 0;
            font-weight: 700;
            font-size: 16px;
        }
        .row.body {
            margin-bottom: 24px;
        }
        .first-column {
            width: 40%;
            display: flex;
        }
        .second-column {
            width: 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            span {
                display: block;
                color: #b4b4b4;
                font-weight: 700;
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }
        .fourth-column {
            width: 15%;
            text-align: center;
            display: flex;
            align-items: center;
            span {
                font-size: 24px;
                display: block;
                font-weight: 700;
            }
        }
    }
    .img-wrapper {
        border: 1px solid #b4b4b4;
        margin-right: 24px;
    }
    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    h3 {
        letter-spacing: 1px;
        font-weight: 700;
    }
    .buttons-wrapper {
        background-color: #f7f7f7;
        padding: 42px 80px;
        display: flex;
        justify-content: space-between;
    }
    @media only screen and (max-width: 767px) {
        .chart h3 {
            padding: 25px 20px;
        }
        .chart .inner {
            padding: 0 !important;
        }
        .row.header {
            display: none;
        }
        span.mob {
            display: inline-block;
            font-weight: 700;
            font-size: 16px !important;
            margin-right: 20px;
        }
        .row.body {
            flex-direction: column;
            padding: 20px;
            margin-bottom: 0 !important;
            .first-column {
                width: 100%;
                margin-bottom: 15px;
            }
            .second-column {
                width: 100%;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 15px;
                span {
                    margin-bottom: 0;
                    &.mob {
                        margin-right: 15px;
                    }
                }
            }
            .third-column {
                width: 100%;
                justify-content: flex-start;
                margin-bottom: 15px;
            }
            .fourth-column {
                width: 100%;
                font-size: 16px;
                margin-bottom: 15px;
            }
            &:nth-child(odd) {
                background-color: #f7f7f7;
            }
        }
        .buttons-wrapper {
            padding: 20px;
        }
    }
}
.header .left {
    position: relative;
    .sign-in-wrapper {
        @extend %popup;
        top: 37px;
        right: auto;
        z-index: 4;
        width: 500px;
        padding: 42px 80px;
        h2 {
            font-weight: 700;
            margin-bottom: 30px;
        }
        .bottom-links {
            display: flex;
            justify-content: space-between;
            width: 100%;
            a {
                font-weight: 400;
                font-size: 15px;
                &:hover {
                    color: $dark;
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        input {
            width: 100%;
        }
        input[type='submit'].pink {
            width: auto;
            border-radius: 50px;
        }
    }
} 