.tabs-container {
	.tabs-list {
		width: 100%;
		display: flex;
		overflow: auto;
	}

	.tab-item {
		display: block;
	}

	.tab-link {
		padding: 20px 30px;
		display: block;
		background-color: $orange;
		color: $white;
		font-weight: bold;
		text-align: center;
		margin-right: 1px;
	}

	.tab-heading {
		display: none;
		background-color: $orange;
		color: $white;
		font-weight: bold;
		text-align: center;
		padding: 20px;
		margin-bottom: 1px;
	}

	.tab-content {
		width: 100%;
		display: none;
		padding: 20px 0;
	}

	.selected {
		background-color: darken($orange, 10);
	}

	&.pure-accordion {
		.tab-heading {
			display: block;
		}
	}
}

@include breakpoint(phone) {
	.tabs-container {
		.tabs-list {
			display: none;
		}

		.tab-heading {
			display: block;
		}

		&.pure-tabs {
			.tabs-list {
				display: flex;
			}

			.tab-heading {
				display: none;
			}
		}
	}
}
