//----------  layout
//------------------------------------------------------------------------------
html, body {
	@include font-smoothing(antialiased);
}

body {
	font-family: $font-default;
	font-size: 16px;
	color: $dark;
}

.container {
	@include base-float;
	padding: 10px;
	transition: 0.2s linear;
	position: relative;
	@media only screen and (max-width: 319px) {
		width: 320px;
	}

	&.menu-opened {
		transform: translate(500px, 0);
		position: fixed;
	}

	&.popup-active {
		&::after {
			// content: '';
			background-color: transparentize($black, 0.2);
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 999;
		}
	}

	@include breakpoint(phone) {
		&.menu-opened {
			transform: translate(300px, 0);
		}
	}
}

.wrapper {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
	@media only screen and (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
		width: auto;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.content {
	@include base-float;
}

.font-ico-heart {
	color: $pink;
}

.color-options {
	display: flex;
	span {
		width: 14px;
		height: 14px;
		border-radius: 50%;
		display: block;
		margin-right: 7px;
		position: relative;
		&.pink {
			background-color: $pink;
		}
		&.blue {
			background-color: $blue;
		}
		&.green {
			background-color: $green;
		}
		&.orange {
			background-color: $orange;
		}
		&.yellow {
			background-color: $yellow;
		}
		&.purple {
			background-color: $purple;
		}
		&.green-smooth {
			background-color: $green-smooth;
		}
		&.active {
			&::before {
				content: '';
				display: block;
				border-radius: 50%;
				border: 2px solid #d1cfcf;
				height: 20px;
				width: 20px;
				position: absolute;
				top: -3px;
				left: -3px;
			}
		}
	}
}

.size-options {
	margin-bottom: 27px;
	display: flex;
	flex-wrap: wrap;
	span {
		padding: 5px 15px;
		color: $grey;
		margin-bottom: 3px;
		margin-right: 5px;
		background-color: #f7f7f7;
		font-size: 13px;
		min-width: 46px;
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		&.active {
			background-color: $pink;
			color: $white;
		}
	}
}

.third-column {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	.plus,
	.minus {
		width: 36px;
		height: 36px;
		background-color: #efefef;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $dark;
		position: relative;
		&:hover {
			background-color: #dbdbdb;
		}
	}
	.minus::before,
	.plus::before {
		content: '';
		background-color: $dark;
		width: 20px;
		display: block;
		height: 2px;
	}
	.plus {
		&::before {
			position: absolute;
		}
		&::after {
			position: absolute;
			content: '';
			background-color: $dark;
			width: 20px;
			display: block;
			height: 2px;
			transform: rotate(90deg);
		}
	}
	.value {
		width: 50px;
		height: 36px;
		line-height: 36px;
		border: 1px solid #efefef;
		border-radius: 50px;
		color: $dark;
		display: inline-block;
		margin: 0 4px;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
	}
	@media only screen and (max-width: 767px) {
		.minus,
		.plus {
			height: 20px;
			&::before,
			&::after {
				width: 15px;
			}
		}
	}
}

a {
	&:hover {
		cursor: pointer;
	}
}